body {
    margin: 0;
    background-color: #FBF1C7;
    font-family: JetBrains Mono;
}

a { text-decoration: none; color: #fff; }

.header {
    font-family: JetBrains Mono;
    background-color: #FB4934;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #ffffff;
}

.menu {
    display: flex;
    align-items: center;
}

.menu > div { padding-right: 20px; }

.header > div {
    padding-right: 20px;
}

.title {
    font-size: 30px;
    margin-left: 10px;
}

.container-title {
    background-color: #FABD2F;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.forma {
    border: 1px solid black;
    padding: 5%;
}

.forma > form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sub-container {
    font-size: 20px;
}

.sub-container > input{
    border-style: none;
    height: 30px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-msg {
    padding-left: 20px;
}

.container-msg > input {
    height: 100%;
    margin-top: 10px;
}

#enviar {
    background-color: #CC241D;
    border-style: none;
    color: #fff;
    width: 100%;
    height: 20%;
}

@media only screen and (max-width: 600px) {

    .header {
        display: flex;
        flex-direction: column;
    }

    .container-title > h1 {
        font-size: 20px;
        text-align: center;
    }

    .forma {
        display: flex;
        flex-direction: row;
    }

    .sub-container {
        padding: 10px;
    }

    .container-msg > input {
        width: 100%;
        height: 80%;
    }

}
