a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #FBF1C7;
    font-family: JetBrains Mono;
}

a { text-decoration: none; color: #fff; }

.header {
    font-family: JetBrains Mono;
    background-color: #FB4934;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #ffffff;
}

.menu {
    display: flex;
    align-items: center;
}

.menu > div { padding-right: 20px; }

.header > div {
    padding-right: 20px;
}

.title {
    font-size: 30px;
    margin-left: 10px;
}

.container {
    background-color: #EBDBB9;
    text-align: center;
    padding: 20px;

}

.container-table {
    margin: auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
}
table{
    padding: 20px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
    border-radius: 2px;
}

#peso {
    color: #FB4934;
}

#precio {
   color: #FB4934;
}


@media only screen and (max-width: 600px) {

    .header {
        display: flex;
        flex-direction: column;
    }

    .container {
        padding: -20px;
        background-color: #FBF1C7;
    }

    .container-table {
        background-color: #FBF1C7;
        border: 0;
    }
    table {
        margin: 0;
        padding: 0px;
    }

}
